.category {
  padding: 0 0 1rem;
}

.categoryTitle {
  text-align: left;
  color: white;
  background: gray;
  padding: 1rem;
  margin: 0 0 -2rem;
}

.nominees {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}