html {
  background-color: #0D2436;
}

.App {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-align: center;
}

.title {
  padding: 2rem 0;
}

.container {
  margin: auto;
  width: 70vw;
  padding-bottom: 2rem;
}